## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Situation
0,0,Grand Gaube,-20.0064,57.6608,70.38,77,8,3.00,MU,clear sky
1,1,Dikson,73.5069,80.5464,18.07,89,100,8.86,RU,overcast clouds
2,2,Maralal,1.0968,36.6980,59.38,86,95,6.51,KE,light rain
3,3,Tasiilaq,65.6145,-37.6368,37.56,99,100,13.47,GL,moderate rain
4,4,Sturgeon Falls,46.3646,-79.9326,50.05,83,88,6.22,CA,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
Minimum_Temp=float(input("What is the minimum temperature you would like for your trip? "))
Maximum_Temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 60

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=Maximum_Temp) &\
                               (city_data_df["Max Temp"]>=Minimum_Temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Situation
2,2,Maralal,1.0968,36.6980,59.38,86,95,6.51,KE,light rain
4,4,Sturgeon Falls,46.3646,-79.9326,50.05,83,88,6.22,CA,overcast clouds
17,17,Stornoway,58.2093,-6.3865,57.16,87,75,17.27,GB,broken clouds
20,20,Busselton,-33.6500,115.3333,54.73,56,25,18.75,AU,scattered clouds
22,22,Sokolka,53.4072,23.5023,50.68,69,100,12.73,PL,overcast clouds
30,30,Codrington,-38.2667,141.9667,57.04,68,84,12.03,AU,broken clouds
44,44,Talcahuano,-36.7167,-73.1167,53.28,82,75,20.71,CL,broken clouds
62,62,Brae,60.3964,-1.3530,52.38,91,13,18.16,GB,few clouds
70,70,Samandag,36.0842,35.9771,57.72,33,1,10.25,TR,clear sky
75,75,Saveh,35.0213,50.3566,58.48,51,100,4.27,IR,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID              102
City                 102
Lat                  102
Lng                  102
Max Temp             102
Humidity             102
Cloudiness           102
Wind Speed           102
Country               99
Current Situation    102
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_travel_cities=preferred_cities_df.dropna()
clean_travel_cities.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Situation
2,2,Maralal,1.0968,36.6980,59.38,86,95,6.51,KE,light rain
4,4,Sturgeon Falls,46.3646,-79.9326,50.05,83,88,6.22,CA,overcast clouds
17,17,Stornoway,58.2093,-6.3865,57.16,87,75,17.27,GB,broken clouds
20,20,Busselton,-33.6500,115.3333,54.73,56,25,18.75,AU,scattered clouds
22,22,Sokolka,53.4072,23.5023,50.68,69,100,12.73,PL,overcast clouds
30,30,Codrington,-38.2667,141.9667,57.04,68,84,12.03,AU,broken clouds
44,44,Talcahuano,-36.7167,-73.1167,53.28,82,75,20.71,CL,broken clouds
62,62,Brae,60.3964,-1.3530,52.38,91,13,18.16,GB,few clouds
70,70,Samandag,36.0842,35.9771,57.72,33,1,10.25,TR,clear sky
75,75,Saveh,35.0213,50.3566,58.48,51,100,4.27,IR,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Situation", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Situation,Lat,Lng,Hotel Name
2,Maralal,KE,59.38,light rain,1.0968,36.6980,
4,Sturgeon Falls,CA,50.05,overcast clouds,46.3646,-79.9326,
17,Stornoway,GB,57.16,broken clouds,58.2093,-6.3865,
20,Busselton,AU,54.73,scattered clouds,-33.6500,115.3333,
22,Sokolka,PL,50.68,overcast clouds,53.4072,23.5023,
30,Codrington,AU,57.04,broken clouds,-38.2667,141.9667,
44,Talcahuano,CL,53.28,broken clouds,-36.7167,-73.1167,
62,Brae,GB,52.38,few clouds,60.3964,-1.3530,
70,Samandag,TR,57.72,clear sky,36.0842,35.9771,
75,Saveh,IR,58.48,overcast clouds,35.0213,50.3566,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
import json
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index,row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    
    params["location"]=f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
        
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Situation,Lat,Lng,Hotel Name
2,Maralal,KE,59.38,light rain,1.0968,36.6980,Ngari Hill Ecolodge
4,Sturgeon Falls,CA,50.05,overcast clouds,46.3646,-79.9326,Lincoln Motel
17,Stornoway,GB,57.16,broken clouds,58.2093,-6.3865,Caladh Inn
20,Busselton,AU,54.73,scattered clouds,-33.6500,115.3333,Observatory Guest House
22,Sokolka,PL,50.68,overcast clouds,53.4072,23.5023,Restauracja i Pokoje Gościnne Verde
44,Talcahuano,CL,53.28,broken clouds,-36.7167,-73.1167,departamento comodo
62,Brae,GB,52.38,few clouds,60.3964,-1.3530,Busta House Hotel
70,Samandag,TR,57.72,clear sky,36.0842,35.9771,Anadolu Palace Hotel
75,Saveh,IR,58.48,overcast clouds,35.0213,50.3566,Sadra
93,Irbil,IQ,57.02,scattered clouds,36.1926,44.0106,Erbil International Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Situation</dt><dd>{Current Situation} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))